<div class="feed-container">
  <% feeds.forEach(feed => { %>
  <div class="feed-item" data-feed-id="<%= feed.id %>">
    <div class="content">
      <div class="user-info">
        <div class="profile-img">
          <img src="<%= profileImg %>" alt="프로필 이미지" width="30px" />
        </div>
        <strong><%= feed.user.nickname %></strong>
      </div>

      <div id="feed-img-<%= feed.id %>">
        <img src="<%= feed.file_url %>" alt="post" />
      </div>

      <div id="feed-content-<%= feed.id %>" style="padding: 10px">
        <p><%= feed.content %></p>
      </div>

      <!-- 수정 -->
      <div
        class="edit-container"
        id="edit-container-<%= feed.id %>"
        style="display: none"
      >
        <!-- 이미지 수정 -->
        <div class="file-upload-container">
          <input
            type="file"
            id="img-input-<%= feed.id %>"
            onchange="updateImage('<%= feed.id %>','<%= feed.file_url%>')"
          />
          <label class="label-file" for="img-input-<%= feed.id %>"
            >파일선택</label
          >
          <div class="file-info-container">
            <span class="span-file">선택된 파일이 없습니다.</span>
            <div
              class="error-message"
              style="
                color: red;
                display: none;
                font-size: 13px;
                margin-top: 5px;
              "
            >
              [ERROR!] 확장자는 jpeg, jpg, png, bmp만 가능합니다.
            </div>
          </div>
        </div>

        <img
          src="<%= feed.file_url %>"
          id="edit-img-<%= feed.id %>"
          class="edit-img"
          alt="이미지 수정"
        />
        <!-- 내용 수정 -->
        <div class="edit-container" style="margin-top: 7px">
          <textarea
            id="edit-content-<%= feed.id %>"
            class="edit-textarea"
            placeholder="수정할 내용을 입력하세요"
          >
<%= feed.content %></textarea
          >

          <!-- 저장 및 취소 -->
          <div class="button-container">
            <button
              type="button"
              onclick="saveChanges('<%= feed.id %>')"
              class="btn save-btn"
            >
              저장
            </button>
            <button
              type="button"
              onclick="cancelEdit('<%= feed.id %>')"
              class="btn cancel-btn"
            >
              취소
            </button>
          </div>
        </div>
      </div>

      <div
        id="like-info-<%= feed.id %>"
        data-feed-id="<%= feed.id %>"
        class="like-info"
        onclick="openLikeModal('<%= feed.id %>')"
      >
        <span id="like-text-<%= feed.id %>"></span>
      </div>

      <div class="icon-container">
        <div class="left-icons">
          <svg
            id="likeIcon-<%= feed.id %>"
            class="likeIcon"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 24 24"
            onclick="toggleLike('<%= feed.id %>')"
          >
            >
            <path
              d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
            ></path>
          </svg>
          <img
            src="../static/svg/chat.svg"
            alt="채팅 아이콘"
            onclick="toggleCommentBox('<%= feed.id %>')"
          />
        </div>

        <!-- 좋아요 모달 -->
        <div
          id="likeModal-<%= feed.id %>"
          class="like-modal"
          data-feed-id="<%= feed.id %>"
        >
          <div class="like-modal-content">
            <span class="close" onclick="closeLikeModal('<%= feed.id %>')"
              >&times;</span
            >
            <h2>이 피드를 좋아한 사람들의 목록</h2>
            <ul
              style="
                list-style: none;
                padding: 0;
                margin: 0;
                border-bottom: none;
              "
              id="likes-list-<%= feed.id %>"
            >
              <!-- 좋아요 목록이 여기에 표시됨 -->
            </ul>
          </div>
        </div>

        <div class="right-icons">
          <% if (userNickName === feed.user.nickname) { %>
          <button
            type="button"
            class="imgButton modify"
            onclick="feedEdit('<%= feed.id %>')"
          ></button>
          <button
            type="button"
            class="imgButton delete"
            onclick="feedDelete('<%= feed.id %>')"
          ></button>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</div>

<!-- 피드 올리는 아이콘: 참조 에러 방지용 -->
<div class="plus-icon" display="none"></div>
